@page
@using viecLam24hBE.Models;
@model viecLam24hFE.Pages.NguoiTuyenDung.DanhSachTinDangModel
@{
    Layout = "_LayoutManagerTuyenDung";
    ViewBag.ActiveNav = "DanhSachTinDang";
}
<div class="container">
    <div class="row">
        <div class="card" style="border-radius: 1rem;">
            <h2 class="font-semibold text-lg mb-3 m-4">Danh sách tin đăng</h2>
            <div class="bg-grey-light mb-1 mt-3"></div>
            <div class="card-body p-3">
                <div class="row mb-3">
                    <div class="col-lg-2 pt-4">
                        <p class="font-semibold text-sm">
                            Thống kê tin:
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header font-semibold text-sm text-center">Tổng số tin đăng</div>
                            <div class="card-body">
                                <p class="card-text font-semibold text-sm text-center">@ViewBag.NumberPost</p>
                            </div>
                        </div>
                    
                    </div>
                   
                </div>
                <div class="row mb-4">
                    <div class="col-lg-1">
                        <label class="form-label font-semibold text-sm mt-1">Bộ lọc</label>
                    </div>
                    <div class="col-8">
                        <form method="post" id="idFormFilter">
                            <div class="form-group font-semibold text-sm">
                                <select class="form-control font-semibold text-sm" id="idSelectJobNames" name="slJobNames">
                                    <option class="font-semibold text-sm" value="" selected>Tất cả tin đăng</option>
                                    @foreach (var item in ViewBag.JobNames)
                                    {
                                        <option class="font-semibold text-sm" value="@item.Key">@item.Key</option>

                                    }
                                </select>
                            </div>
                        </form>
                      
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success font-semibold text-sm" id="idDowloadReport"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Tải danh sách</button>
                    </div>
                    

                    @* <div class="form-group col-lg-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option selected>Tất cả trạng thái</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select>
                    </div>*@

                </div>
                <table class="table" id="iTableJobPost">
                    <thead>
                        <tr>
                            <th scope="col" class="font-semibold text-md">Tên tin đăng</th>
                            <th scope="col" class="font-semibold text-md">Ngày đăng</th>
                            <th scope="col" class="font-semibold text-md">Thời hạn nộp</th>
                            <th scope="col" class="font-semibold text-md">Tình trạng tin</th>
                            <th scope="col" class="font-semibold text-md">Khác</th>
                        </tr>
                    </thead>
                    <tbody id="tableJobPosts">
                        @foreach (var item in Model.JobPosts as List<JobPost>)
                        {
                            <tr>
                                <td class="cJobName font-semibold text-sm" scope="row">
                                    @item.JobName &nbsp; <a href="/NguoiTuyenDung/SuaTinTuyenDung?id=@item.Id">
                                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    </a>
                                    <input type="hidden" value="@item.Id" class="cId" />
                                </td>
                                <td class="cCreateDate font-semibold text-sm">@item.CreatedDate</td>
                                <td class="font-semibold text-sm">
                                    @if (item.Deadline < DateTime.Now)
                                    {
                                        <p class="text-danger">Đã hết hạn</p>
                                    }
                                    else
                                    {
                                        @item.Deadline.ToString("d/M/yyyy")
                                    }
                                    <input type="hidden" value="@item.Deadline" class="cDeadline" />
                                </td>
                                <td class="font-semibold text-sm cStatusJobPost">
                                    @if (item.Status == true)
                                    {
                                        <p class="text-success">Đang hiển thị</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Đang ẩn</p>
                                    }
                                    <input type="hidden" class="cStatus" value="@item.Status" />
                                </td>
                                <td class="font-semibold text-sm">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item font-semibold text-sm"
                                                   href="/NguoiTuyenDung/DetaisJobPost?id=@item.Id">Xem lại</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item font-semibold text-sm"
                                                   href="/NguoiTuyenDung/SuaTinTuyenDung?id=@item.Id">Chỉnh sửa</a>
                                            </li>
                                            <li>
                                                <a class="font-semibold text-sm dropdown-item cEditTime" href="#" data-bs-toggle="modal"
                                                   data-bs-target="#exampleModal">Gia hạn hạn nộp</a>
                                            </li>
                                            <li>
                                                <a class="font-semibold text-sm dropdown-item cEditStatus" href="#" data-bs-toggle="modal"
                                                   data-bs-target="#exampleModalEditStatus">Thay đổi trạng thái</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a class="font-semibold text-sm dropdown-item text-danger cDeleteJobPost" href="#"
                                                   data-bs-toggle="modal" data-bs-target="#exampleModalDelete">
                                                    Xóa
                                                    tin
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-semibold text-lg" id="exampleModalLabel">Gia hạn thời gian nộp</h5>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3 font-semibold text-md" id="iJobName"></div>
                    <div class="bg-grey-light mb-3 mt-2"></div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label font-semibold text-sm">Ngày đăng tin</label>
                        <input type="date" class="form-control text-sm" id="idDateCreate" disabled>

                    </div>
                    <form method="post" id="fUpdateDeadline" asp-page-handler="UpdateDealine">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label font-semibold text-sm">Thời gian nộp</label>
                            <input type="date" class="form-control font-semibold text-sm" id="idDateSubmit" name="txtDateSubmit">
                            <input type="hidden" id="iIdJobPost" name="hIdJobPost">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-semibold text-sm" data-bs-dismiss="modal">Hủy Bỏ</button>
                <button type="button" class="btn btn-primary font-semibold text-sm" id="iGiaHan">Gia Hạn</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Delete JobPost -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-semibold text-sm" id="exampleModalLabel">Xóa tin tuyển dụng này?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="font-semibold text-sm mt-2">Bạn có chắc chắn muốn xoá tin tuyển dụng này không?</p>
                <input type="hidden" id="iIdDeleteJobPost" name="hIdDeleteJobPost">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-semibold text-sm" data-bs-dismiss="modal">Hủy Bỏ</button>
                <button type="button" class="btn btn-primary font-semibold text-sm" id="iDeleteJob">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Status -->
<div class="modal fade" id="exampleModalEditStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-semibold text-sm" id="exampleModalLabel">Thay đổi trạng thái tin tuyển dụng này?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="font-semibold text-sm mt-2" id="iEditStatusContent"></p>
                <input type="hidden" id="iIdStatusJobPost">
                <input type="hidden" id="iStatusJobPost">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-semibold text-sm" data-bs-dismiss="modal">Hủy Bỏ</button>
                <button type="button" class="btn btn-primary font-semibold text-sm" id="iChangeStatus">Thay đổi</button>
            </div>
        </div>
    </div>
</div>