@page
@model viecLam24hFE.Pages.NguoiTuyenDung.QuanLyTaiKhoanModel
@{
    Layout = "_LayoutManagerTuyenDung";
    ViewBag.ActiveNav = "QuanLyTaiKhoan";
}


@*<div class="card" style="border-radius: 1rem;">
    <div class="card-body p-4">
        <div class="d-flex">
            <h2 class="font-semibold text-lg mt-2">
                Xin chào, <p>@Model.UngTuyenDetail.UserName</p>
            </h2>
        </div>
        <div class="bg-grey-light mb-3 mt-4"></div>
        <div class="card-body p-3">
            <div class="bg-cyan-dark-blue mb-2" style="width: 100px; height: 10px;"></div>
            <p class="font-semibold text-lg mb-3">Thông tin đăng kí</p>

            <p class="font-semibold text-lg mb-3">Thông tin cá nhân</p>

            <div class="row mb-4">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4">
                        <form method="post">
                            <div class="col-lg-6">
                                <table>
                                    <tr>
                                        <td><label class="form-label font-semibold text-sm">Email</label></td>
                                        <td>
                                            <input class="form-control font-semibold text-sm" asp-for="@Model.UngTuyenDetail.Email" />
                                            <input type="hidden" asp-for="@Model.UngTuyenDetail.Id" />
                                            <input type="hidden" asp-for="@Model.UngTuyenDetail.Password" />
                                            <input type="hidden" asp-for="@Model.UngTuyenDetail.RoleId" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-lg-6">
                                <button class="font-semibold text-sm">Sửa enail</button>
                            </div>
                            <h2 class="font-semibold text-lg mb-4">Thông tin cá nhân</h2>
                            <div class="bg-grey-light mb-4"></div>
                            <div class="mb-4">
                                <label class="form-label font-semibold text-sm"
                                       asp-for="@Model.UngTuyenDetail.UserName">
                                    Họ và tên <span class="text-red-500">
                                        *
                                    </span>
                                </label>
                                <input class="form-control font-semibold text-sm"
                                       placeholder="Vị trí hiển thị đăng tuyển"
                                       asp-for="@Model.UngTuyenDetail.UserName" />

                            </div>
                            <div class="mb-4">
                                <label class="form-label font-semibold text-sm"
                                       asp-for="@Model.UngTuyenDetail.Dob">
                                    Ngày sinh <span class="text-red-500">
                                        *
                                    </span>
                                </label>
                                <input class="form-control font-semibold text-sm"
                                       placeholder="Vị trí hiển thị đăng tuyển"
                                       asp-for="@Model.UngTuyenDetail.Dob" />

                            </div>
                            <div class="mb-4">
                                <label class="form-label font-semibold text-sm"
                                       asp-for="@Model.UngTuyenDetail.Address">
                                    Địa chỉ<span class="text-red-500">
                                        *
                                    </span>
                                </label>
                                <input class="form-control font-semibold text-sm"
                                       placeholder="Vị trí hiển thị đăng tuyển"
                                       asp-for="@Model.UngTuyenDetail.Address" />

                            </div>
                            <div class="mb-4">
                                <label class="form-label font-semibold text-sm"
                                       asp-for="@Model.UngTuyenDetail.Sex">
                                    Giới tính<span class="text-red-500">
                                        *
                                    </span>
                                </label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="@Model.UngTuyenDetail.Sex" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="@Model.UngTuyenDetail.Sex" name="flexRadioDefault" id="flexRadioDefault2" value="1" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Nữ
                                    </label>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="form-label font-semibold text-sm"
                                       asp-for="@Model.UngTuyenDetail.Phone">
                                    Số điện thoại<span class="text-red-500">
                                        *
                                    </span>
                                </label>
                                <input class="form-control font-semibold text-sm"
                                       placeholder="Vị trí hiển thị đăng tuyển"
                                       asp-for="@Model.UngTuyenDetail.Phone" />

                            </div>
                            <a href="#" class="btn btn-danger">Hủy</a>
                            <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
